<div class="questao-fields">
  <%= f.text_field :enunciado %>
  <%= f.select :tipoQuestao, options_for_select(["Dissertativa", "Múltipla Escolha"]) %>
  <button type="button" class="btn btn-danger" data-action="click->template-form#removeQuestion">Remover Questão</button>
</div>