<%= render 'shared/sidebar' %>
<div class="container-templates">
<h2>Gerenciamento de Templates</h2>
<div class="templates-cards">
<% if @templates.any? %>
  <div class="templates-grid">
    <% @templates.each do |template| %>
      <%= render TemplateCardComponent.new(template: template) %>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-info text-center">
    <p>Sem templates disponíveis.</p>
  </div>
<% end %>

<%= link_to 'Novo Template', new_template_path, class: 'btn-primary' %>
</div>
</div>