<!-- app/views/templates/index.html.erb -->
<h1>Gerenciamento de Templates</h1>

<div class="grid grid-cols-3 gap-4">
  <% @templates.each do |template| %>
    <%= render TemplateCardComponent.new(template: template) %>
  <% end %>
</div>

<%= link_to 'Novo Template', new_template_path, class: 'btn btn-primary' %>