<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Olá, <%= @pending_user.nome %>!</h1>
    <p>Por favor, defina uma senha para completar o cadastro</p>
    <p>Para definir sua senha, clique no link: <%= @url %></p>
  </body>
</html>