<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Olá, <%= @usuario_alterar.nome %>!</h1>
    <p>Foi solicitada a alteração de senha para a sua conta no sistema CAMAAR.</p>
    <p>Para definir sua senha, clique no link: <%= @url %></p>
  </body>
</html>