<div class="email-container">
  <h1 class="email-title">Enviar Emails</h1>
  <p class="email-description">Clique no botão abaixo para enviar os emails para todos os destinatários.</p>
  <%= button_to 'Enviar Emails', importa_dados_import_path, method: :post, class: 'email-button' %>
</div>